.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/
*.swp
*.swo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Test
.pytest_cache/
.coverage
htmlcov/

# Misc
.DS_Store
